@import "../../_variables.scss";

.Filters {
	background: #fff;
	box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
	border-radius: 5px;
	height: 20.688rem;
  padding: 15px;
  text-align: left;

	&__title {
		color: #4a4a4a;
	  font-family: $font-family-open-sans;
	  font-size: 0.75rem;
	  font-weight: 600;
	  letter-spacing: 0.031rem;
	  line-height: 1.188rem;
		text-align: left;
	}
}

.Transfer{
	margin-top: 30px;

	&__input{
	  display: none;

	  & + label {
	    margin: 0;
	    cursor: pointer;
	    position: relative;
	    color: #4a4a4a;
	    font-family: $font-family-open-sans;
	    font-size: 0.813rem;
      line-height: 1.5;
			width: calc(100% + 30px);
	    text-align: left;
	    padding: 8px 0 8px 45px;
	    margin: 0 -15px;

			&:hover {
				background-color: #f1fcff;
			}

	    &:before {
	      content: "";
	      font-size: 15px;
	      color: #3e9ce8;
	      top: 8px;
	      left: 18px;
	      margin-right: 14px;
	      position: absolute;
	      border-radius: 3px;
	      border: 1px solid #d2d5d6;
	      background-color: #ffffff;
	      width: 19px;
	      height: 19px;
	    }
		}

		&:checked + label:before {
			content: "";
			background-image: url(./check_icon.svg);
			background-repeat: no-repeat;
			background-size: 0.538rem 0.413rem;
			background-position: center;
			transform: rotate(180deg);
	    border: 1px solid #2196f3;
	    background-color: #f2fcff;
	  }
	}
}

.Currency {
	&__label {
		border: 0.063rem solid #d2d5d6;
		width: 4.25rem;
		height: 2.5rem;
		cursor: pointer;
		text-transform: uppercase;
    line-height: 2.3rem;
		color: #2196f3;
		font-size: 0.75rem;
		text-align: center;

		&:hover {
			border: 0.063rem solid #64b5f5;
			background-color: #f2fcff;
			color: #2196f3;

			&.Currency__label_rub ~ .Currency__label_usd {
				border-left: 0.063rem solid #64b5f5;
			}

			&.Currency__label_usd ~ .Currency__label_eur {
				border-left: 0.063rem solid #64b5f5;
			}

			&.Currency__label_eur ~ .Currency__label_usd {
				border-right: 0 !important;
			}
		}

		&_usd {
			border-right: 0 !important;
		}

		&_rub {
			border-radius: 0.313rem 0 0 0.313rem;
			border-right: 0 !important;
		}

		&_eur {
			border-radius: 0 0.313rem 0.313rem 0;
		}
	}

	&__input {
		display: none;

		&:checked + label {
			background-color: #2196f3;
	    border-color: #2196f3;
			color: #ffffff;

			&.Currency__label_rub ~ .Currency__label_usd {
				border-left: 0;
			}

			&.Currency__label_usd ~ .Currency__label_eur {
				border-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
  .Filters {
    max-width: calc(100% - 30px);
    margin-left: 15px;
  }
}
