@import "variables";

.App {
  text-align: center;
	background: #F3F7FA;
  padding-top: 50px;

  &__icon {
    background-image: url(./flight_icon.png);
    background-repeat: no-repeat;
    background-size: 78px 85px;
    width: 75px;
    height: 85px;
    margin-bottom: 50px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 6px 0;
  width: 10rem;
  border: none;
  box-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.1), 0 0.063rem 0 #d64d08;
  border-radius: 0.313rem;
  background-color: #ff6d00;
  color: #ffffff;
  font-family: $font-family-open-sans;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0 0.063rem 0.313rem rgba(0, 0, 0, 0.25), 0 0.063rem 0 #f7661d;
    background-color: #ff8124;
  }
}

@media only screen and (max-width: 576px) {
  .button {
    width: 8rem;
    font-size: .8rem;
  }

  .FlightSearch__destination-time{
    font-size: 1.5rem;
  }

  .FlightSearch__transfer-icon{
    width: 4.813rem;
    margin-top: 5px;
  }

  .FlightSearch__item {
    height: auto;
  }
}
