.App {
  text-align: center;
	background: #F3F7FA;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$font-family-open-sans: 'Open Sans', sans-serif;

.Currency__input{
  display: none;

  & + label {
		cursor: pointer;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    border: 1px solid #d2d5d6;
    background: none;

     &:hover {
      background-color: #f2fcff;
      border-color: #2196f3;
     }
	}

	&:checked + label {
		background-color: #2196f3;
    border-color: #2196f3;
	}
}

.Transfer__input{
  display: none;

  & + label {
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    color: #4a4a4a;
    font-family: $font-family-open-sans;
    font-size: 0.813rem;
    line-height: 1;
    width: 100%;
    text-align: left;

    &:before {
      content: "";
      font-size: 15px;
      color: #3e9ce8;
      top: -4px;
      left: 3px;
      margin-right: 14px;
      position: absolute;
      border-radius: 3px;
      border: 1px solid #d2d5d6;
      background-color: #ffffff;
      width: 19px;
      height: 19px;
    }
	}

	&:checked + label:before {
    content: "\2713";
    border: 1px solid #2196f3;
    background-color: #f2fcff;
  }
}

.button {
  padding: 6px 0;
  width: 10rem;
  border: none;
  box-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.1), 0 0.063rem 0 #d64d08;
  border-radius: 0.313rem;
  background-color: #ff6d00;
  color: #ffffff;
  font-family: $font-family-open-sans;
  font-size: 1rem;
  font-weight: 600;
}
