@import "variables";

.App {
  text-align: center;
	background: #F3F7FA;
  padding-top: 3rem;
  min-height: 100vh;

  &__icon {
    background-image: url(./flight_icon.svg);
    background-repeat: no-repeat;
    background-size: 5.75rem 5.813rem;
    width: 5.75rem;
    height: 5.813rem;
    margin-bottom: 3rem;
  }
}

.button {
  padding: 6px 0;
  width: 10rem;
  border: none;
  box-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.1), 0 0.063rem 0 #d64d08;
  border-radius: 0.313rem;
  background-color: #ff6d00;
  color: #ffffff;
  font-family: $font-family-open-sans;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0 0.063rem 0.313rem rgba(0, 0, 0, 0.25), 0 0.063rem 0 #f7661d;
    background-color: #ff8124;
  }
}

@media only screen and (max-width: 576px) {
  .button {
    width: 8rem;
    font-size: .8rem;
  }
}
